.nav-item {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding-bottom: 0.5rem;
    background-image: linear-gradient(to right, black, black);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    transition: background-size 0.3s ease-in-out;
}

.nav-item.active {
    background-size: 100% 3px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 2rem 0;
    border-bottom: 1px solid #e9e9e9;
}
