.payment-container {
    min-width: 100vw;
    height: 40vh;
    background-color: red;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 998;
    display: none;
    transform: translateY(100%);
    animation: slideUp 0.75s ease forwards;

    &.show {
        display: block;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}